body{
    background-color: #2036ff;
    color: white;
    height:100%;
    margin: 0;
    padding: 0;
}
.podium-box{
    border: 5px solid white;
    height: 40vh;
    box-sizing: border-box;
    padding: 15px;
    margin: auto;
}
#output{
    max-height: 80px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
#output::-webkit-scrollbar {
    display: none;
}
.title{
    display: inline;
}
.podiumInput{
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: inherit;
    color: inherit;
    width:12ch;
}
.p1button{
    display: inline;
}
.podiumImage{
    display: none;
    -webkit-app-region: no-drag;
    width: 2rem;
}
.remove{
    position: absolute;
    right: 20px;
    top: 20px;
}
.icon{
    width:25px;
    height: 25px;
}
.p-row{
    margin: 0 3vw;
}
.spacer{
    width: 100%;
    height: 7vh;
    display: block;
}